@media (min-width: 601px) and (max-width: 900px) {

    div#search {
        width: 40%;
    }

    nav {
        padding: 1rem;
    }

    nav ul {
        gap: 1rem;
    }

    li#nav-images {
        gap: 1rem;
    }
}