@media (max-width: 600px) {

    nav {
        padding: 1rem;
    }

    div#search {
        width: 55%;
    }

    div#search input {
        font-size: 0.75rem;
    }

    div#search img {
        padding: 0.5rem;
    }

    nav ul li:not(#nav-images) {
        display: none;
    }

    li#nav-images {
        gap: 1rem;
    }

    div#footer-about {
        flex-direction: column;
        padding: 2rem;
        gap: 1rem;
    }

    div#download-app {
        height: min-content;
        padding-top: 1rem;
        flex-direction: column;
        gap: 0.5rem;
    }

    div#download-text {
        flex-direction: column;
        gap: 0.5rem;
    }

    div#download-text p {
        width: 100%;
    }
}