@import url('../../fonts/Poppins/font-face.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

:root {
  --color-primary: #03001B;
  --color-secondary: #D1892B;
  --transition-time: 0.3s;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary);
  color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  border: 0.25rem solid transparent;
  border-radius: 999px;
  background-clip: padding-box;
  background-color: var(--color-secondary);
}

nav {
  width: 100%;
  height: 10vh;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img#logo {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: scale var(--transition-time);
}

img#logo:hover {
  scale: 1.25;
}

div#search {
  height: 3rem;
  background-color: #FFFFFF;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: width var(--transition-time);
}

div#search input {
  width: 100%;
  height: 100%;
  padding: 2.5% 5%;
  border: none;
  font-size: 1.25rem;
  text-overflow: ellipsis;
}

div#search input:focus,
div#search input:active {
  outline: none;
}

div#search img {
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  cursor: text;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav ul li,
li#nav-images img {
  cursor: pointer;
  transition: scale var(--transition-time), color var(--transition-time);
}

nav ul li:not(li#nav-images):hover {
  color: var(--color-secondary);
  scale: 1.1;
}

li#nav-images {
  display: flex;
  gap: 2rem
}

li#nav-images img {
  width: 1.75rem;
}

li#nav-images img:hover {
  scale: 1.25;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

div#download-app {
  margin-top: 2.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--color-secondary);
}

div#download-text {
  display: flex;
  align-items: center;
}

div#download-text p {
  font-size: small;
  width: 10rem;
  text-align: center;
}

img#phone-icon {
  height: 2rem;
  filter: invert();
  width: auto;
}

div#badges {
  display: flex;
  align-items: center;
  gap: 1rem;
}

img#google {
  height: 3rem;
}

img.badge {
  cursor: pointer;
  transition: scale var(--transition-time) ease;
}

img.badge:hover {
  scale: 1.05;
}

div#footer-about {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem 0;
}

ul.footer_list {
  list-style: none;
}

li.list_tittle {
  font-weight: bolder;
}

li.list_item {
  cursor: pointer;
  transition: scale var(--transition-time);
}

li.list_item:hover {
  scale: 1.05;
}

button {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-size: 1.5rem;
  transition: scale var(--transition-time);
  background-color: var(--color-primary);
  color: #FFFFFF;
  cursor: pointer;
}

button:hover {
  scale: 1.05;
}