@media (min-width:601px) and (max-width:900px) {
    div#product {
        padding: 0;
        margin: 2rem 4rem;
        border-radius: 1rem;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    div#product>div {
        width: 100%;
    }

    div#product-photo img {
        border-radius: 0;
    }

    div#product-info {
        border-radius: 0;
    }
}