@media (min-width: 1201px) {  
    #product img {
        width:40%;
        height: auto;
    }
    
    #product{
        justify-content: space-evenly;
    }

    #product-info{
        width:40%;

    }
}



